<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Movies Scrapper</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/078b976486.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <style>
            .card {
                max-width: 800px;
                min-width: 400px;
            }

            .card-img {
                position: relative;
                display: block;
                background: gray;
                border-radius: 3px 0 0 3px;
                height: 300px;
                object-fit: cover;
                object-position: top;
            }

            .list-group li {
                border: 0;
                padding: 6px 0;
            }
        </style>
    </head>

    <body ng-app="app" ng-controller="ctrl">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <span class="navbar-text">
                    Movies Scrapper
                </span>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4 mb-5">I'm looking for</h1>

                <div class="input-group">
                    <input ng-model="movieName" type="text" class="form-control" placeholder="{{movieNamePlaceholder}}">
                    <div class="input-group-append">
                        <button class="btn btn-primary" ng-click="search()">Search</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div ng-if="movies.length == 0 && searched && !loading">
                <div class="text-center">
                    <h1 class="display-1 mb-4">
                        <i class="fad fa-frown"></i>
                    </h1>

                    <h6>Nothing is found, please try again!</h6>
                </div>
            </div>

            <div ng-if="movies.length == 0 && !searched && !loading">
                <div class="text-center">
                    <h1 class="display-1 mb-4">
                        <i class="fad fa-laugh-wink"></i>
                    </h1>

                    <h6>You can search for any movie!</h6>
                </div>
            </div>

            <div ng-if="loading">
                <div class="text-center">
                    <h1 class="display-1 mb-4">
                        <i class="fad fa-spinner-third fa-spin"></i>
                    </h1>

                    <h6>Please wait</h6>
                </div>
            </div>

            <div class="card-deck">
                <div ng-repeat="movie in movies" class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <img src="{{movie.Poster}}" alt="{{movie.Title}}" class="card-img">
                        </div>

                        <div class="col-md-7">
                            <div class="card-body">
                                <h5 class="card-title">{{movie.Title}}</h5>
                                <p class="card-text">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <b>Year</b> {{movie.Year}}
                                        </li>

                                        <li class="list-group-item">
                                            <b>IMDB ID</b> {{movie.imdbID}}
                                        </li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var app = angular.module('app', [])

            app.controller('ctrl', function ($scope, $http) {
                $scope.movieNamePlaceholder = "Example: How to rob a bank"
                $scope.movieName = ""
                $scope.movies = []
                $scope.loading = false
                $scope.searched = false

                $scope.search = () => {
                    $scope.movies = []
                    $scope.loading = true
                    $scope.searched = true

                    $http.get('/api/movies/' + $scope.movieName).then((response) => {
                        $scope.movies = response.data.Search
                    }).finally(() => {
                        $scope.loading = false
                    })
                }
            })
        </script>
    </body>
</html>